In [1]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *

sc = SparkSession.builder.appName("TitanicTrainExercise")

##Step1
train_DF =  spark.read.csv('/FileStore/tables/train.csv', header="true", inferSchema="true")

##Step2:
#1 Print the dataset and verify that the schema contains all the variables.
train_DF.printSchema()

In [2]:
#2 Print the first 10 rows from the dataset.
train_DF.show(10,False)

In [3]:
#3 Obtain summary statistics for all variables in the dataframe. Pay attention to whether there are missing data as well as whether the field appears to be continuous or discrete.

train_DF.summary().show()

In [4]:
#4 For each of the string columns (except name and ticket), print the count of the 10 most frequent values ordered by descending order of frequency. 

train_DF.createOrReplaceTempView('traintable')
sex_f = spark.sql("select sex , count(*)  from traintable group by sex order by count(*) desc limit 10")
sex_f.show()

ticket_f = spark.sql("select ticket,count(*) from traintable group by ticket order by count(*) desc limit 10")
ticket_f.show()

cabin_f = spark.sql("select cabin,count(*) from traintable group by cabin order by count(*) desc limit 10")
cabin_f.show()

In [5]:
#Feature columns : Sex,Embarked, Pclass, SibSp, Parch, Age, Fare
##Step 3

#Select all feature columns you plan to use in addition to the target variable (i.e., ‘Survived’) and covert all numerical columns into double data type.

doubleCol = ['Pclass','SibSp','Parch']

from pyspark.sql.types import DoubleType

train_DF = train_DF.withColumn('Pclass',train_DF.Pclass.cast(DoubleType())).withColumn('SibSp',train_DF.SibSp.cast(DoubleType())).withColumn('Parch',train_DF.Parch.cast(DoubleType())).select('Sex','Embarked','Pclass','SibSp','Parch','Age','Fare','Survived')

In [6]:
#2 Replace the missing values in the Age column with the mean value. Create also a new variable (e.g., ‘AgeNA’) indicating whether the value of age was missing or not.
mean_age = train_DF.agg({"Age": "avg"})
mean_age.show()

train_DF= train_DF.fillna({'Age':29.7})
train_DF.show(30,False)

In [7]:
def valueToCategory(value):
    if value == 29.7: 
        return True
    else: 
        return False

udfValueToCategory = udf(valueToCategory, StringType())
train_DF_C = train_DF.withColumn("AgeNA", udfValueToCategory("Age"))
train_DF_C.show(30)

In [8]:
# Print the revised dataframe and recalculate the summary statistics.
train_DF_C.summary().show()